syntax: glob
*.dll
*.pdb

# VS crap
#*.vcxproj
#*.filters
*.vcxproj.user
*.ilk
*.tlog
*.obj
*.rule
*.sdf

.cache
bin/*
build/*
Dependencies/*
#tracks
cars
#objects
fonts
terrain
#trees2
#Media
*.mat

.DS_Store
iOSDependencies
AndroidBuild/
AndroidDependencies/
Build/
EmscriptenDependencies
EmscriptenBuild
