syntax: glob
#  build
CMake*
.cache
bin/*
build*/*
Dependencies/*
doxygen

#  data
sr.log
#*_tag.xml
data/gui/core_language_*_tag.xml
!data/gui/core_language_en_tag.xml
#config
#hud
#gui
#tracks*

#sounds
#src/sound
#cars
data/ghosts/original/
objects2convert
#data/Hlms/
#data/models/objects*/
#data/models/*
#data/textures/road/
#terrain
#data
#data/materials/*

#  VS crap
*.dll
*.pdb
#*.vcxproj
#*.filters
*.vcxproj.user
*.ilk
*.tlog
*.obj
*.rule
*.sdf

#  other crap
.DS_Store
Build/
cmake-build-*/
.idea/
_build
