syntax: glob
*.dll
*.pdb

# VS crap
#*.vcxproj
#*.filters
*.vcxproj.user
*.ilk
*.tlog
*.obj
*.rule
*.sdf

.cache
bin/*
build/*
Dependencies/*

#  data
hud
#gui
tracks
cars
#objects
terrain
#Media
*.mat

.DS_Store
iOSDependencies
AndroidBuild/
AndroidDependencies/
Build/
EmscriptenDependencies
EmscriptenBuild
